@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe.otf");
  font-style: normal;
  font-weight: normal;
  }

  @font-face {
    font-family: "Gilam";
    src: url("../fonts/Gilam.otf");
    font-style: normal;
    font-weight: normal;
    }

.container {
  width: 1560px;
  margin-left: auto;
  margin-right: auto;
}

.head {
  background-color: #171717;
  color: #FFFFFF;
}

.head-container {
  display: flex;
  padding-block: 46px;
  align-items: center;
}

.header-call-number-digits {
  color: #D6AF76;
}

.header-callback-botton {
  padding-left: 20px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #D6AF76;
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #D6AF76;
}

.header-call {
  padding-left: auto;
  padding-right: 39px;
  color: #FFFFFF;
  font-family: 'Circe';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
}

.header-call {
  margin-left: auto;
}

.main {
  background-color: #171717;
  color: #FFFFFF;
}

.main-container {
  padding-top: 82px;
}

.main-header-network {
  font-family: 'Gilam';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #FFFFFF;
}

.main-header-p {
  padding-block: 41px;
  font-family: 'Gilam';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
}

.main-network-title {
  font-family: 'Gilam';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
}

.main-network {
  height: 940px;
  display: grid;
  grid-template-areas:
  "n-item-1 n-item-1 n-item-2 n-item-2 n-item-3 n-item-3"
  "n-item-4 n-item-4 n-item-4 n-item-5 n-item-5 n-item-5";
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr ;
  grid-gap: 25px;
}

.main-network-items-1 {
  padding-top: 220px;
  text-align: center;
  grid-area: n-item-1;
  background-color: #634F2C;
}

.main-network-items-2 {
  padding-top: 220px;
  text-align: center;
  grid-area: n-item-2;
  background-color: #B4A385;
}
.main-network-items-3 {
  padding-top: 220px;
  text-align: center;
  grid-area: n-item-3;
  background-color: #E4B563;
}

.main-network-items-4 {
  padding-top: 220px;
  text-align: center;
  grid-area: n-item-4;
  background-color: #B4A385;
}
.main-network-items-5 {
  padding-top: 220px;
  text-align: center;
  grid-area: n-item-5;
  background-color: #E4B563;
}

.main-header-vehicle {
  font-family: 'Gilam';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #FFFFFF;
  padding-block: 150px 100px;
}

.aside {
  background-color: #0E0E0E;
  color: #FFFFFF;
}

.main-vehicle {
  display: grid;
  height: 900px;
  grid-template-areas: "v-item-1 v-item-2 v-item-3"
  "v-item-1 v-item-2 v-item-3"
  "v-item-4 v-item-2 v-item-6"
  "v-item-4 v-item-5 v-item-6"
  "v-item-4 v-item-5 v-item-6"
  "v-item-4 v-item-5 v-item-7"
  "v-item-4 v-item-5 v-item-7";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 24px 30px;
}

.main-vehicle-items-1 {
  padding-left: 52px;
  padding-top: 44px;
  background-color: #0E0E0E;
  grid-area: v-item-1;
}

.main-vehicle-items-2 {
  padding-left: 52px;
  padding-top: 44px;
  background-color: #242424;
  grid-area: v-item-2;
}

.main-vehicle-items-3 {
  padding-left: 52px;
  padding-top: 44px;
  background-color: #1F1F1F;
  grid-area: v-item-3;
}

.main-vehicle-items-4 {
  padding-left: 52px;
  padding-top: 44px;
  background-color: #1F1F1F;
  grid-area: v-item-4;
}

.main-vehicle-items-5 {
  padding-left: 52px;
  padding-top: 44px;
  background-color: #E4B563;
  grid-area: v-item-5;
}

.main-vehicle-items-6 {
  padding-left: 52px;
  padding-top: 44px;
  background-color: #0E0E0E;
  grid-area: v-item-6;
}

.main-vehicle-items-7 {
  padding-left: 52px;
  padding-top: 44px;
  background-color: #0A0909;
  grid-area: v-item-7;
}

.main-vehicle-title {
  font-family: 'Gilam';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
}

.main-vehicle-title-item {
  font-family: 'Gilam';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
}

.aside-partners {
  display: flex;
  justify-content: space-between;
  padding-block: 150px 70px;
  align-items: center;
}

.aside-partners-header {
  font-family: 'Gilam';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #FFFFFF;
}

.aside-partners-header-link {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #D6AF76;
  font-family: 'Circe';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #D6AF76;
}

.partner-logo {
  display: block;
  margin-left: auto;
  margin-top: 150px;
  margin-right: auto;
}

.aside-clients {
  height: 780px;
  display: grid;
  grid-template-areas: "p-items-1 p-items-2 p-items-3"
  "p-items-4 p-items-5 p-items-6";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.aside-partners-items-1 {
  grid-area: p-items-1;
  background-color: #634F2C;
}

.aside-partners-items-2 {
  grid-area: p-items-2;
  background-color: #B4A385;
  text-align: center;
}

.aside-partners-items-3 {
  grid-area: p-items-3;
  background-color: #ECC78C;
}

.aside-partners-items-4 {
  grid-area: p-items-4;
  background-color: #635A4A;
}

.aside-partners-items-5 {
  grid-area: p-items-5;
  background-color: #B08C4D;
}

.aside-partners-items-6 {
  grid-area: p-items-6;
  background-color: #634F2C;
}

footer {
  height: 240px;
  background-color: #171717;
}